* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 6% auto auto auto;
  padding: 2%;
  width: 40%;
  background-color: #71a2b9;
  border-radius: 6px;
}

.title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3%;
  color: white;
}

.full_date {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 3%;
  color: white;
}

.day {
  font-size: 25px;
  text-decoration: underline;
}

.date {
}

.add__task {
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 5%;
}

.input_task {
  width: 77%;
  border: none;
  font-size: 18px;
  padding-left: 3%;
  border-radius: 6px;
}

.input_task::placeholder {
  opacity: 0.7;
}

.input_task:focus,
.add__button:focus {
  outline: 3px solid #e73;
}

.add__button {
  width: 20%;
  font-size: 19px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  background-color: #4f758b;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.add__button:hover {
  transform: scale(1.04);
  background-color: #628193;
}

.todo__list {
}

.todo__list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: white;
  padding: 1% 2% 1% 2%;
  border-radius: 6px;
  color: #1f333d;
}

.menu_for_item {
  display: flex;
  align-items: center;
  column-gap: 8px;
  cursor: pointer;
}

.task_check {
  cursor: pointer;
}
