* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(188, 213, 224, 1) 0%,
    rgba(150, 189, 208, 1) 29%,
    rgba(122, 158, 179, 1) 63%,
    rgba(79, 117, 139, 1) 100%
  );
}

.modal_menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 56%;
  background-color: rgb(255, 255, 255);
  font-size: 35px;
  text-align: center;
  color: #305062;
  padding: 3% 3%;
  border-radius: 6px;
  box-shadow: 0px 0px 25px 15px #4f758b;
}

.invisible {
  display: none;
}

.modal_button {
  width: 30%;
  font-size: 25px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  background-color: #4f758b;
  border-radius: 6px;
  color: white;
  padding: 1% 5%;
  margin-top: 3%;
  align-self: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5% auto 5% auto;
  padding: 2%;
  width: 60%;
  background-color: #71a2b9;
  border-radius: 6px;
  background: linear-gradient(
    90deg,
    rgba(161, 196, 213, 1) 0%,
    rgba(127, 173, 195, 1) 29%,
    rgba(98, 129, 147, 1) 63%,
    rgba(98, 129, 147, 1) 100%
  );
  box-shadow: 0px 0px 15px 1px white;
}

.title {
  font-size: 45px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 3%;
  color: white;
}

.full_date {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 3%;
  color: white;
  font-size: 20px;
}

.day {
  text-transform: uppercase;
}

.date {
  font-size: 16px;
}

.add__task {
  display: flex;
  height: 40px;
  justify-content: space-between;
  margin-bottom: 3%;
}

.input_task {
  width: 77%;
  border: none;
  font-size: 18px;
  padding-left: 3%;
  border-radius: 6px;
}

.input_task::placeholder {
  opacity: 0.7;
}

.input_task:focus,
.button:focus {
  outline: 3px solid #e73;
}

.button {
  width: 20%;
  font-size: 19px;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  background-color: #4f758b;
  border-radius: 6px;
  color: white;
  font-weight: 600;
}

.button:hover,
.modal_button:hover,
.archive_button:hover {
  transform: scale(1.04);
  background-color: #7fadc3;
}

.todo__list {
}

.todo__list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  background-color: white;
  padding: 1% 2% 1% 2%;
  border-radius: 6px;
  color: #2c404a;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.menu_for_item {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.star_bin_button {
  cursor: pointer;
  border: none;
  background-color: white;
}

.task_check {
  cursor: pointer;
}

.error_message {
  padding-bottom: 3%;
  color: red;
  font-size: 16px;
}

.archive_button {
  padding: 1% 0;
  margin-bottom: 2%;
  align-self: flex-end;
}

@media (max-width: 915px) {
  .wrapper {
    width: 75%;
    margin: 10% auto 10% auto;
  }

  .modal_menu {
    width: 71%;
    font-size: 30px;
  }

  .modal_button {
    width: 40%;
    padding: 2% 5%;
    margin-top: 5%;
  }
}

@media (max-width: 415px) {
  .wrapper {
    width: 90%;
    margin: 8% auto 8% auto;
    padding: 4%;
  }

  .modal_menu {
    width: 82%;
    font-size: 25px;
    padding: 5% 3%;
  }

  .modal_button {
    width: 60%;
  }
}

@media (max-width: 281px) {
  .wrapper {
    width: 95%;
    margin: 3% auto 3% auto;
    padding: 3%;
  }

  .modal_menu {
    width: 89%;
    padding: 6%;
    font-size: 24px;
  }
}
